questions.txt
kazymyr-thesis.acn
kazymyr-thesis.aux
kazymyr-thesis.bbl
kazymyr-thesis.bcf
kazymyr-thesis.blg
kazymyr-thesis.fdb_latexmk
kazymyr-thesis.fls
kazymyr-thesis.glo
kazymyr-thesis.lof
kazymyr-thesis.log
kazymyr-thesis.lot
kazymyr-thesis.run.xml
kazymyr-thesis.toc
kazymyr-thesis.xdy
.DS_Store

